html{
    background: rgb(220, 223, 196);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: black;
}

h2{
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    padding: 20px;
}
  
.grid-container > div {
    border: solid black 1px;
    text-align: center;
    font-size: 24px;
    border-radius: 30px;
}

ul.a {
    list-style-type: circle;
}