h1{
    font-family: 'Gideon Roman', cursive;
}












/* @font-face {
    font-family: 'Riposte'; 
    src: url(fonts/GTFRiposte-Regular.otf) format("opentype");
 }
 
 h1{
    font-family: Riposte, sans-serif;
 } */